/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style */
:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.whaleproject{
    width: 24rem;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.header__logo{
    margin: 1.5rem;
}

.header__logo img{
    width: 7rem;
}

.mobile__picture{
    width: 100%;
}

.image__desctop{
    display: none;
}

.text{
    text-align: center;
}

.text__head{
    margin-top: 2rem;
    padding: 0 3.2rem 0 3.2rem;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: var(--dark-grayish-red);
}

.text__span{
    color: var(--desaturated-red);
    font-weight: 300;
}

.text__body{
    padding: 1.7rem;
    line-height: 1.5rem;
}

.text__body p{
    color: var(--desaturated-red);
    opacity: 0.7;
}

.email__input{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 3rem;
    width: 18rem;
    margin-left: 3.4rem;
    border-radius: 25px;
}

.email__input input{
    border: 1px solid var(--desaturated-red);
    height: 3rem;
    border-radius: 25px;
    width: 19rem;
    margin-left: -0.55rem;
    padding-left: 1rem;
    outline: none;
}

.email__input input::placeholder{
    color: var(--desaturated-red);
    font-family:  'Josefin Sans', sans-serif;
    opacity: 0.5
}

.email__error-icon{
    margin-left: -7rem;
    display: none;
}

.email__input .invalid{
    display: block;
}

#confirmation{
    width: 5rem;
    border: none;
    border-radius: 25px;
    height: 3rem;
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;
    margin-left: -5rem;
    transition: all 0.4s ease-in-out;
}

#confirmation:hover{
    width: 4rem;
    transition: all 0.4s ease-in-out;
    margin-left: -4rem;
}

.email__error-text{
    visibility: hidden;
    margin: 0.6rem 0 0 3.5rem;
}

.email__error-text p{
    color: var(--soft-red);
}

.email .error{
    visibility: visible;
}

footer{
    margin: 1rem 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 400px){
    .whaleproject{
        width: 29rem;
    }

    .header__logo img{
        width: 9rem;
    }

    .email__input{
        width: 22rem;
    }

    .email__input input{
        width: 24rem;
        margin-left: -1rem;
    }
}

@media (min-width: 480px){
    .whaleproject{
        width: 38rem;
    }

    .header__logo img{
        width: 12rem;
    }

    .email__input input{
        width: 33rem;
        margin-left: -1rem;
    }
}

@media (min-width: 768px){
    body{
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }
    .whaleproject{
        width: 25rem;
        height: 30rem;
        position: relative;
        margin: 2rem 0 2rem 2rem;
    }

    .main-content__text{
        text-align: left;
    }
    
    .text__head{
        margin-left: -1.5rem;
    }

    .image__mobile{
        display: none;
    }

    .image__desctop{
        display: block;
        position: fixed;
        left: 28rem;
        margin-top: -6.8rem;
    }

    .text__body{
        width: 26rem;
    }

    .image__desctop img{
        height: 35rem;
        width: 30rem;
    }

    .header__logo img{
        width: 10rem;
    }

    .email__input input{
        width: 20rem;
        margin: 2rem 0 2rem -1rem;
    }

    .email__error-text{
        margin-top: 2.5rem;
    }
}

@media (min-width: 920px) {
    .whaleproject{
        width: 33rem;
        height: 40rem;
        position: relative;
        margin: 2rem 0 2rem 2rem;
    }

    .image__desctop{
        left: 35rem;
    }

    .header__logo img{
        width: 12rem;
    }

    .email__input input{
        width: 20rem;
        margin: 2rem 0 2rem -1rem;
    }

    .email__error-text{
        margin-top: 2.5rem;
    }
}

@media (min-width: 1200px){
    .whaleproject{
        width: 40rem;
        height: 40rem;
        position: relative;
        margin: 3rem 0 3rem 6rem;
    }

    .image__desctop{
        left: 60rem;
        margin: -10rem 0 -10rem 0;
    }

    .image__desctop img{
        width: 130%;
        height: 100%;
    }

    .text__head{
        width: 15rem;
        margin-top: 5rem;
    }

    .text__body{
        margin-top: 5rem;
    }

    .header__logo img{
        width: 14rem;
    }

    .email__input input{
        width: 20rem;
        margin: 2rem 0 2rem -1rem;
    }

    .email__error-text{
        margin-top: 2.5rem;
    }
}